<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/page-layout.html :: page-head">
</head>
<body>
<!-- вставка фрагмента шапки -->
<th:block th:replace="layout/page-layout.html :: page-header(page='index')"/>
<div class="content container-fluid text-center">
    <p><h1><u>Салон Красоты</u></h1></p>
 <div class="container-fluid content-box" style="background: bisque">
     <p class="text-justify" style="text-align: justify;"><b>Существует много салонов красоты: от фешенебельных заведений с шокирующими прайсами,
     в которые неуютно заходить, до эконом парикмахерских и точек в торговых центрах.
     Есть также «мастера», работающие на дому. Но многим требовательным клиентам, как и нам,
     чужды такие форматы.

     С начала развития нашего Салона Красоты, мы поставили задачу расширять спектр услуг и
     предоставлять их по адекватным ценам. Поскольку салон находится вдали от центра города и
     оживленных магистралей, дополнительным плюсом для многих жителей района,
     является расположение салона - неподалеку от дома или места работы.

     Направления развития, как и у любого салона красоты, который стремится поддерживать марку "приличный" — ногтевые,
     парикмахерские и косметологические услуги для милых дам и уверенных джентльменов.
     И очаровательные женщины и молодые девушки или их мамы, юные парни, и взрослые уважаемые
     мужчины могут найти в салоне разнообразные процедуры и подобрать «своих» мастеров
     каждого направления.

     В нашем салоне работают специалисты высшего уровня и квалификации. Отбор мастеров проходит на кастинговой основе.
         Это важный момент для дальнейшего подбора мастера каждому клиенту.</b> </p>
 </div>
     <!-- обращение к статичному изображению -->
     <img th:src="@{/images/images-1.jpg}"/>

     <!-- вставка фрагмента футера -->
     <th:block th:replace="layout/page-layout.html :: page-footer"/>

 </div>
</body>
</html>